---
layout: default
onepage: true
landing_video_mp4: /assets/images/cover/cover-pedroca.mp4
landing_video_webm: /assets/images/cover/cover-pedroca.webm
landing_video_cover: /assets/images/cover/cover-pedroca.jpg
services:
  - title: Roteirista
    icon: fa fa-pencil
    bg: /assets/images/pp/pp-01.png
  - title: Diretor
    icon: fa fa-lightbulb-o
    bg: /assets/images/pp/pp-02.png
  - title: Cameraman
    icon: fa fa-camera
    bg: /assets/images/pp/pp-04.png
  - title: Diretor de fotografia
    icon: fa fa-film
    bg: /assets/images/pp/pp-05.png
  - title: Editor
    icon: fa fa-laptop
    bg: /assets/images/pp/pp-06.png
  - title: Assistente de câmera
    icon: fa fa-camera-retro
    bg: /assets/images/pp/pp-03.png

filmes:
  - path: _works/filmes/almondega/arara.md
    style: wide
  - path: _works/filmes/almondega/democracia.md 
  - path: _works/filmes/almondega/dunga.md
  - path: _works/filmes/almondega/uma-noite-para-joao-lemos.md
    style: wide
  - path: _works/filmes/cinear/cinema-no-rio-sao-francisco.md 
  - path: _works/filmes/cinear/igarape.md 
  - path: _works/filmes/cinear/sao-bras-do-suacui.md 
    style: wide
  - path: _works/filmes/cinear/sao-sebastiao-do-bom-sucesso.md 
  - path: _works/filmes/cinear/sumare.md 
  - path: _works/filmes/cinear/jaceaba.md 
    style: wide
  - path: _works/filmes/cinear/sabara.md 
  - path: _works/filmes/cinear/vespasiano.md 
  - path: _works/filmes/cinear/confins.md 
    style: wide
  - path: _works/filmes/cinear/sao-joaquim-de-bicas.md 
  - path: _works/filmes/cinear/cantagalo.md 
  - path: _works/filmes/cinear/macuco.md 
  - path: _works/filmes/cinear/video-relatorio-projeto-sons-do-vale-2-edicao.md 

clipes:    
  - path: _works/clipes/daparte-o-eterno-em-caraiva.md
    style: wide
  - path: _works/clipes/ledjembergs-construcao.md
  - path: _works/clipes/davidafigueira.md
  - path: _works/clipes/depois-dos-temporais-tarcisio-badaro.md
  - path: _works/clipes/devise-incerteza.md
  - path: _works/clipes/estrada-real-sancha.md
  - path: _works/clipes/folsoms-the-night.md
  - path: _works/clipes/nova-gustavo-figueiredo.md
  - path: _works/clipes/ledjembergs-mil-rosas.md
  - path: _works/clipes/veronica-magalhaes-alem-de-mim.md
    style: wide
  - path: _works/clipes/sliced-hearts-walk-the-path.md
  - path: _works/clipes/meliandro-a-enchente.md
  - path: _works/clipes/meliandro-caboclo-dagua.md
  - path: _works/clipes/veronica-magalhaes-tropecos.md

institucional:
  - path: _works/institucional/aglomerado-da-serra.md
  - path: _works/institucional/empty-inhotim.md
  - path: _works/institucional/festival-musimagem-2017.md 
    style: wide
  - path: _works/institucional/casacor-minas.md 
    style: wide
  - path: _works/institucional/uma-nova-atitude--foruns-regionais.md
  - path: _works/institucional/uma-nova-atitude--cemig.md
  - path: _works/institucional/uma-nova-atitude--certifica-minas-cafe.md
  - path: _works/institucional/uma-nova-atitude--uti-aerea.md
  - path: _works/institucional/uma-nova-atitude--industria.md
  - path: _works/institucional/uma-nova-atitude--apac-santa-luzia.md
  - path: _works/institucional/governo-de-minas--obras-e-pavimentacao.md
  - path: _works/institucional/governo-de-minas--linhas-de-credito.md
  - path: _works/institucional/governo-de-minas--rede-estadual-de-ensino.md
  - path: _works/institucional/governo-de-minas--eletrificacao-rural.md
  - path: _works/institucional/governo-de-minas--saude.md
    style: wide
  - path: _works/institucional/governo-de-minas--minas-digital.md
  - path: _works/institucional/video-case--cde.md
  - path: _works/institucional/forluz-45-anos.md 
  - path: _works/institucional/governo-de-minas--agua-para-todos.md

members:
  - avatar: /assets/images/pp/pp-01.png
    name: Pedroca Vasconcelos
    position: Diretor Criativo
    desc:
      "As the founder and CEO of Wrap, and as an interactions and visual design specialist, she knows that user- centred and easy-to-use design is an essential way to distinguish a good product and an awesome product."
  - avatar: /assets/images/pp/pp-02.png
    name: Pepê
    position: Cameraman
    desc:
      "Mark started designing web sites back in 1992. Since then, he has worked for a wide range of digital agencies in the UK and America. At Wrap, Mark’s role means solving all kinds of visual design problems."
  - avatar: /assets/images/pp/pp-03.png
    name: Pedrinho
    position: Microfonista
    desc:
      "Clare is a senior front-end developer here at Wrap, specialises in building blocks of the web: HTML, CSS, and JavaScript. She has almost ten years experiencs in the front-end development."
  - avatar: /assets/images/pp/pp-04.png
    name: Pedro Costa
    position: Diretor de Fotografia
    desc:
      "Jone started designing web sites back in 1992. Since then, he has worked for a wide range of digital agencies in the UK and America. At Wrap, Jone’s role means solving all kinds of visual design problems."

team_slides:
  - /assets/images/makingoff/slide1.jpg
  - /assets/images/makingoff/slide2.jpg
  - /assets/images/makingoff/slide3.jpg
  - /assets/images/makingoff/slide4.jpg
  - /assets/images/makingoff/slide5.jpg

testimonials:
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-1.png'
      position: 'Designer at Huglab'
  - quote: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-2.png'
      position: 'Designer at Huglab'
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-3.png'
      position: 'Designer at Huglab'

clients:
  - /assets/images/@stock/client-1.png
  - /assets/images/@stock/client-2.png
  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png

  - /assets/images/@stock/client-5.png
  - /assets/images/@stock/client-6.png  
  - /assets/images/@stock/client-7.png    
  - /assets/images/@stock/client-2.png
  
  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png  
  - /assets/images/@stock/client-1.png   
  - /assets/images/@stock/client-6.png    
---

<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video playsinline autoplay muted loop id='fullscreen-video' preload="auto" poster="{{ page.landing_video_cover | relative_url }}">
      <source src='{{ page.landing_video_mp4 | relative_url }}' type='video/mp4'>
      <source src='{{ page.landing_video_webm | relative_url }}' type='video/webm'>
    </video>
    <div class='overlay'></div>

  <!--   <div class='layer'>
      <h1 class='thin' id="to-be-update">
         <span class="fir">Roteiro</span><br/>
         <span class="sec">Câmera</span><br/>
         <span class="thir">Entrega</span>
      </h1>
      <h2 class='thin'>
       Criamos, planejamos e executamos projetos audiovisuais para cinema, música e publicidade. 
       {% assign nav_obj = site.data.nav | where:'section_id','works' | first %} <br>
       <a href='{{ "index.html#filmes" | append:nav_obj.path | relative_url }}'>Veja os trabalhos.</a>
      </h2>
    </div> -->

  </div>
</div>


<a id='sobre'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Audiovisual Criativo</p>
        <h2>
          Portfólio
        </h2>
        <p class="big-size">Planejo e realizo projetos audiovisuais que contam histórias de forma criativa e elegante.</p>
        <div class="four spacing"></div>
        <!-- <img src="{{ "/assets/images/logo-black.png" | relative_url }}" alt=""> -->
      </div>
    </div>
    <div class="four spacing"></div>
  </div>
</div>
<div class="full no-overflow no-padding parallax" style="background-image: url({{ "/assets/images/frames/abelha.jpg" | relative_url }})">
  <div class="right-half">
    <div class="two spacing"></div>
    <div class="section-header alt white">
      <h2>Foco na entrega</h2>
    </div>
    <p class="light">
    Simplicidade é a força que impulsiona meu trabalho. Abraço a direção, edição, roteiro, cinematografia e assistência de câmera.  </p>
    <p class="light">Sendo minha áreas técnicas, asseguro um toque pessoal em cada detalhe, resultando em narrativas impactantes e visualmente cativantes.</p>
    <div class="two spacing"></div>
    <a href="#servicos" class="button small">Conheça meus serviços</a>
    <div class="three spacing"></div>
  </div>
</div>


<a id='servicos'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Uma pessoa, várias habilidades</p>
        <h2>Serviços</h2>
      </div>
    </div>
  </div>
</div>
<div class='full no-overflow no-padding'>
  <div class='main-services'>
    {% for item in page.services %}
      <div class='medium-6 large-4 columns'>
        {% include service.html service=item %}
      </div>
    {% endfor %}
  </div>
</div>

<div id="galleries">

<!-- FILMES -->
<a id='filmes'></a>
<div class='full'>
  <div class='row' >
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="De curtas à longas" title="Filmes" %}
    </div>
  </div>
</div>
<div class='full no-padding' id="demo-1-works">
  <div class='mod modMasonryGallery'>
    <ul class='gallery'>

      {% for item in page.filmes %}

        {% assign work = site.works | where:"path",item.path | first %}

        {% if item.style == 'wide' %}
          {% assign class = 'wide' %}
          {% assign width = 1000 %}
          {% assign height = 350 %}
        {% else %}
          {% assign class = '' %}
          {% assign width = 500 %}
          {% assign height = 350 %}
        {% endif %}

        <li class="{{class}}">
          <a href='{{ work.url | relative_url }}'>
            <img width="{{width}}" height="{{height}}" alt="" src="{{ work.thumbnail | relative_url }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p>{{ work.categories | join:" & " | escape }}</p>
              </div>
            </div>
          </a>
        </li>

      {% endfor %}

    </ul>
  </div>
</div>

<div class='full parallax' style="background-image: url({{ "/assets/images/frames/TRILOGIODOSPASSAROS.png" | relative_url }})">
    <div class="four spacing"></div>
</div>

<!-- CLIPES -->
<a id='clipes'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="Unindo paixão e vocação" title="Clipes" %}
    </div>
  </div>
</div>
<div class='full no-padding' id="demo-1-works">
  <div class='mod modMasonryGallery'>
    <ul class='gallery'>

      {% for item in page.clipes %}

        {% assign work = site.works | where:"path",item.path | first %}

        {% if item.style == 'wide' %}
          {% assign class = 'wide' %}
          {% assign width = 1000 %}
          {% assign height = 350 %}
        {% else %}
          {% assign class = '' %}
          {% assign width = 500 %}
          {% assign height = 350 %}
        {% endif %}

        <li class="{{class}}">
          <a href='{{ work.url | relative_url }}'>
            <img width="{{width}}" height="{{height}}" alt="" src="{{ work.thumbnail | relative_url }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p>{{ work.categories | join:" & " | escape }}</p>
              </div>
            </div>
          </a>
        </li>

      {% endfor %}

    </ul>
  </div>
</div>

<div class='full parallax' style="background-image: url({{ "/assets/images/frames/ABELHA.jpg" | relative_url }})">
    <div class="four spacing"></div>
</div>

<!-- INSTITUCIONAL -->
<a id='institucional'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="Vídeos publicitários" title="Institucional" %}
    </div>
  </div>
</div>
<div class='full no-padding' id="demo-1-works">
  <div class='mod modMasonryGallery'>
    <ul class='gallery'>

      {% for item in page.institucional %}

        {% assign work = site.works | where:"path",item.path | first %}

        {% if item.style == 'wide' %}
          {% assign class = 'wide' %}
          {% assign width = 1000 %}
          {% assign height = 350 %}
        {% else %}
          {% assign class = '' %}
          {% assign width = 500 %}
          {% assign height = 350 %}
        {% endif %}

        <li class="{{class}}">
          <a href='{{ work.url | relative_url }}'>
            <img width="{{width}}" height="{{height}}" alt="" src="{{ work.thumbnail | relative_url }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p>{{ work.categories | join:" & " | escape }}</p>
              </div>
            </div>
          </a>
        </li>

      {% endfor %}

    </ul>
  </div>
</div>
 
 </div>
<!-- CUSTOMIZED -->
<!-- <div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3 class="white">Customized to meet your needs.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur inventore minimar.
      </p>
    </div>
    <div class='large-4 columns'>
      <p>
        <a class='button small boxed' href='#'>Download Now</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>
</div> -->

<!-- 
<a id='equipe'></a>
<div class='full dark-grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="A equipe" title="As várias funções" %}
    </div>
  </div>
</div>
<div class="full dark-grey no-padding">
  <div class="members">
    {% for member in page.members %}
      <div class="small-3 columns">
        <div class='member-avatar'>
          <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</div> -->
<!-- 
<div class="full no-padding team-bg">
  <div class="div member-decs">
    {% for member in page.members %}
      <div class="large-3 columns">
        <div class='member-dec'>
          <div class='intro'>
            <h3>{{ member.name | escape }}</h3>
            <h4>{{ member.position | escape }}</h4>
            <p>{{ member.desc | escape }}</p>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{ social.link }}'>
                    <i class='fa fa-{{ social.icon }}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="four spacing"></div>
</div>
 -->

<div class="full no-padding">
  <div class='mod modBoxedSlider' data-timeout='1500'>
    <div class='slides'>
      {% for image in page.team_slides %}
        <div class='slide'>
          <img width="1200" height="800" alt="" src="{{ image | relative_url }}" />
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- BLOG -->
<!-- <a id='blog'></a>
<div class='full grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="latest posts" title="Wrap ideas." %}
    </div>
  </div>
</div>
<div class="full grey no-padding no-overflow">
  {% for post in site.posts limit:3 %}
    <div class='large-4 columns'>
      <div class='mod modBlogPost simple'>
        <div class='content'>
          <p class='date'>{{ post.date | date: "%B %d, %Y" }}</p>
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div class='spacing'></div>
          <p>
            <a class='button boxed yellow tiny' href='{{ post.url | relative_url }}'>Read more</a>
          </p>
        </div>
      </div>
      <div class="four spacing"></div>
    </div>
  {% endfor %}
</div> -->

<!-- TESTIMONIALS -->
<!-- <div class='full no-overflow no-padding parallax' style="background-image: url({{ "/assets/images/@stock/customers-bg.jpg" | relative_url }})">
  <div class="left-half">
    <div class="two spacing"></div>
    <div class="row">
      <div class="section-header alt white">
        <h2>What our clients say</h2>
      </div>
      <div class='mod modTestimonials simple'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in page.testimonials %}
                <div class='item'>
                  <p class='quote'>{{ t.quote }}</p>
                  <div class="two spacing"></div>
                  <div class='author'>
                    <p class='author-avatar'>
                      <img width="80" height="80" alt="" src="{{ t.author.avatar | relative_url }}" />
                    </p>
                    <p class='author-name'>
                      -
                      <strong>{{ t.author.name }}</strong>
                      {%- if t.author.position %}, {{ t.author.position }}{% endif %}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- CLIENTES -->
<!-- <div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="we are happy" title="Featured clients" %}
    </div>
  </div>
</div>
<div class="full no-padding">
  <div class="clients">
    <div class='row'>
      {% for client in page.clients %}
        <div class='large-3 medium-6 small-6 columns'>
          <div class="client">
            <a href="javascript:void(0)"><img alt="" src="{{ client | relative_url }}" /></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="four spacing"></div>
</div> -->
<div class='full parallax' style="background-image: url({{ "/assets/images/filmes/cinear/confins/preview-1000x700.jpg" | relative_url }})">
  <div class='four spacing'></div>
</div>
<a id='contato'></a>
{% include contact-form.html %}

{% include social-networks.html %}
