<div class='full dark'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="contato" title="Entre em contato!" %}
    </div>
    <div class='four spacing'></div>
    <div class='row'>
    <div class='medium-3 columns'>
      <div class='big-social'>
        <a href="mailto:p.vasconceloscosta@gmail.com?subject=Contato pelo site" target="_blank">
          <i class='fa fa-envelope'></i>
        </a>
        <h4>Email</h4>
      </div>
    </div>
    <div class='medium-3 columns'>
      <div class='big-social'>
        <a href='https://wa.me/553191177605' target="_blank">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <h4>WhatsApp</h4>
        <!-- <p>Share some latest works</p> -->
      </div>
    </div>
    <div class='medium-3 columns'>
      <div class='big-social'>
        <a href='https://www.instagram.com/pedrocavasconcelos/' target="_blank">
          <i class='fa fa-instagram'></i>
        </a>
        <h4>Instagram</h4>
        <!-- <p>Follow our tweets</p> -->
      </div>
    </div>
    <div class='medium-3 columns'>
      <div class='big-social'>
        <a href='https://www.behance.net/pedrocavasconcelos' target="_blank">
          <i class='fa fa-behance'></i>
        </a>
        <h4>Behance</h4>
        <!-- <p>View some new trends</p> -->
      </div>
    </div>
  </div>
      <div class='four spacing'></div>
    </div>
  </div>
</div>