<div class="full no-padding dark" style="margin-bottom: -50px;">
  <div class="four spacing"></div>
  <div id="footer" class='centered-text'>
    <div class='row'>
      <div class='large-12 columns'>
        <h4>Pedroca Vasconcelos</h4>
        <h4>{{site.time | date: "%Y" }} </h4>
      </div>
    </div>
  </div>
  <div class="four spacing"></div>
</div>

{% for path in site.data.assets.js %}    

  {%- if path contains '://' -%}
    {%- assign src = path -%}
  {%- else -%}
    {%- assign src = path | relative_url -%}
  {%- endif -%}

  <script src="{{ src }}" type="text/javascript"></script>
  <script type="text/javascript">
    var video = document.getElementById("fullscreen-video");
    video.setAttribute("playsinline", "");
    video.setAttribute("muted", "");
    video.play();
  </script>
{% endfor %}
